.container {
     text-align: center;

     p {
          font-size: 1rem;
          color: var(--text-tertiary);
     }
}

@media(width<=800px) {
     .container {
          text-align: center;
     
          p {
               font-size: 0.7rem;
               color: var(--text-tertiary);
          }
     }
}