.webImg {
     width: 30rem;
     height: 16rem;
     /* max-width: 900px; */
     align-self: center;
}

@media(width<=800px) {
     a {
          width: 20rem;

          .webImg {
               /* background-color: antiquewhite; */
               width: 310px;
               height: 180px;
               align-self: center;
          }


          /* h3 {
               font-size: 30px;
               font-weight: bolder;
          } */
     }
}