.paragraph {
     font-weight: 400;
     display: flex;
     flex-wrap: wrap;
     /* justify-content: center; */
     align-items: center;
     line-height: 1.2;

     .word {
          position: relative;
          margin-right: 0.6rem;
          margin-top: 0.4rem;
          
          
          .shadow {
               position: absolute;
               opacity: 0.1;
               user-select: none;
               font-size: 1.25rem;
          }
          
          .clildText {
               font-size: 1.25rem;
          }
     }
     
}

@media(width<=800px) {
     .paragraph {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          padding: 0 4rem;
          margin-top: 2.4rem;
          
          .word {
               margin-right: 0.28rem;

               .shadow {
                    font-size: 0.85rem;
               }

               .clildText {
                    font-size: 0.85rem;
               }
          }
     }
}