.container {
     /* background-color: aqua; */
     /* background-image: url('../../assets/bg.png');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center; */
     width: 100%;
     display: flex;
     /* flex-direction: column; */
     justify-content: center;
     /* gap: 20px; */
     align-items: center;
     text-align: center;
     margin-top: 2rem;
     height: 100dvh;
     min-height: 500px;
     position: relative;
}


.info {
     /* background-color: cadetblue; */
     width: max-content;
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 20px;
}


/* .profileBorder {
     background-color: aqua;
     width: max-content;
     height: max-content;
     border-radius: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;

} */
/* .profileImg {
     width: 360px;
     height: 360px;
     border-radius: 100%;
     object-fit: cover;
     filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4));
} */

/* .profileBorder::after {
     content: "";
     position: absolute;
     top: -2px;
     left: -2px;
     width: calc(100% + 4px);
     height: calc(100% + 4px);
     border-radius: 100%;
     background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
     background-size: 400%;
     animation: animated-shadow 10s linear infinite alternate;
     z-index: -1;
     filter: blur(3rem);
} */



/* @keyframes animated-shadow {
     0% {
          background-position: 0 0;
     }

     50% {
          background-position: 100% 0;
     }

     100% {
          background-position: 0 0;
     }
} */

span {
     display: flex;
     gap: 25px;
     justify-content: center;

     a {
          margin: 0;

          img {
               width: 2rem;
          }
     }
}

a {
     width: fit-content;
     align-self: center;
}


.resumeBtn {
     background-color: var(--btn-color);
     color: var(--btn-text-color);
     border: none;
     border-radius: 16px;
     width: 100px;
     height: 40px;
     font-size: 18px;
     font-family: bold;
     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
     font-family: 'Roboto Mono', monospace;
     transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}

.resumeBtn:hover {
     transform: scale(1.05);
     color: var(--text-color);
     background-color: var(--hover-color);
}

.resumeBtn:active {
     transform: translateY(2px);
     box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}





h1 {
     font-size: 3.2rem;
     letter-spacing: 0.2rem;
     position: relative;
}

.greetings {
     font-size: 1rem;
     font-weight: 400;
     letter-spacing: 0;
     text-transform: none;
     display: block;

     .wave {
          display: inline-block;
          font-size: 1.2rem;
          animation: wave-animation 2s infinite;
          /* Apply the animation */
          transform-origin: 70% 70%;
          /* Adjust origin to create a waving effect */
     }

}

@keyframes wave-animation {
     0% {
          transform: rotate(0deg);
     }

     15% {
          transform: rotate(14deg);
     }

     /* Move the hand to the right */
     30% {
          transform: rotate(-8deg);
     }

     /* Move the hand to the left */
     40% {
          transform: rotate(14deg);
     }

     /* Move the hand to the right */
     50% {
          transform: rotate(-4deg);
     }

     /* Move the hand to the left */
     100% {
          transform: rotate(0deg);
     }

     /* Reset position */
}


.typeWriterSection {
     /* background-color: brown; */
     width: 100%;
     height: auto;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 0.4rem;

     span {
          color: var(--hover-color);
          font-size: 1.2rem;
          font-weight: 400;
          text-wrap: wrap;
          width: fit-content;

          .head_tags {
               display: inline-block;
          }

          .cursor_tag {
               display: inline;
               animation: blink 1s step-start infinite;
          }


     }

}

@keyframes blink {
     50% {
          opacity: 0;
     }
}

.scrollDownText {
     position: absolute;
     z-index: -2;
     bottom: 6rem;
     right: -1rem;
     font-size: 0.4rem;
     letter-spacing: 0.1rem;
     font-weight: bolder;
     transform: rotate(90deg);
     font-family: poppins;
     color: rgb(80, 80, 80);

}


@media(width>=800px) {
     .container {
          flex-direction: row-reverse;
          align-items: center;
          justify-content: space-evenly;

          .hero {
               max-width: 350px;
               width: 350px;
          }
     }
}

@media(width>=1400px) {
     .container {
          .hero {
               max-width: 400px;
               width: 400px;
          }
     }
}

@media(width<=800px) {
     .container {
          height: max-content;
          padding-top: 4rem;
          margin-top: 6rem;

          .profileImg {
               /* max-width: 200px; */
               width: 235px;
               height: 235px;
               border-radius: 100%;

          }

     }

     .info {

          span {
               display: flex;
               gap: 1.2rem;

               a {
                    width: max-content;
               }

          }

          .greetings {
               gap: 0;
               align-items: center;
          }
}

     .scrollDownText {
          visibility: hidden;
          /* bottom: 2.6rem; */
          /* right: -1.4rem; */
          /* font-size: 0.1rem; */
          /* opacity: 0.4; */
          /* letter-spacing: 0.1rem;      */
     }

     /* .colorMode {
          position: absolute;
          right: -20px;
          top: 10px;
          left: 90;
          width: 20px;

     } */
}