.container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 20px;
     align-items: center;
     text-align: center;
     height: 100dvh;
     min-height: 500px;

     .profileBorder {
          width: 350px;
          height: 350px;
          border-radius: 200px;
          border-width: 1.6px;
          border-style: dashed;
          display: flex;
          align-items: center;
          justify-content: center;
          border-color: var(--border-color);
          border-width: 2px;

          .profileImg {
               /* max-width: 200px; */
               width: 340px;
               height: 340px;
               border-radius: 100%;

          }
     }

     span {
          display: flex;
          gap: 25px;
          justify-content: center;

          a {
               margin: 0;

               img {
                    width: 30px;
               }
          }
     }

     a {
          width: fit-content;
          align-self: center;
     }

     button {
          background-color: var(--btn-color);
          color: var(--btn-text-color);
          border: none;
          border-radius: 20px;
          width: 126px;
          height: 50px;
          font-size: 20px;
          font-family: bold;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          font-family: 'Roboto Mono', monospace;
          transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
     }

     button:hover {
          transform: scale(1.05);
     }

     button:active {
          transform: translateY(2px);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
     }
}

.colorModeContainer {
     position: relative;
}

.colorMode {
     position: absolute;
     right: -60px;
     top: 0;
     /* left: 90; */
     width: 30px;

}

.colorMode:hover {
     cursor: pointer;

}

.description {
     max-width: 25ch;
     align-self: center;
}

.info {
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 20px;
}

@media(width>=800px) {
     .container {
          flex-direction: row-reverse;
          align-items: center;
          justify-content: space-evenly;

          .hero {
               max-width: 350px;
               width: 350px;
          }
     }
}

@media(width>=1400px) {
     .container {
          .hero {
               max-width: 400px;
               width: 400px;
          }
     }
}