.container {
     /* background-color: aqua; */
     width: 100%;
     padding: 0 4rem;
     /* height: 60vh; Make it taller for scroll */
     
     h2{
          text-align: center;
     }
}

@media(width<=800px) {
     .container {
          padding: 0;
     }
}