.container {
     /* background-color: aqua; */
     width: 100%;
     text-align: center;
     padding: 0 4rem;
     /* height: 60vh; Make it taller for scroll */
}

@media(width<=800px) {
     .container {
          padding: 0;
     }
}