.skillCell {
     color: var(--text-primary);
     padding: 0.4rem;
     border: 0.1px solid var(--border);
     border-radius: 12px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 0.3rem;

     span {
          color: var(--text-primary);
          font-weight: 500;
          font-size: 1rem;
     }

}

@media(width<=800px) {

     .skillCell {
          span {
               font-weight: 500;
               font-size: 1rem;
          }
     }


}