@import 'node_modules/vanilla-infinite-marquee/infinite-marquee.css';
/* @import 'node_modules/vanilla-infinite-marquee/infinite-marquee.scss'; */

:root {
     --background-color: #fff;
     --btn-color: #0987f2;
     --actionbtn-color: #4ea7f6;
     --actionbtn-hover-color: #0987f2;
     --border-color: #bbb;
     --btn-text-color: #fff;
     --project-card-bg: #ffffff00;
     --text-color: #222;
     --hover-color: #0987f2;
     --form-text-color: #555;
     --footer-text-color: #888;
}

[data-theme="dark"] {
     --background-color: #222;
     --btn-color: #fff;
     --actionbtn-color: #fff;
     --actionbtn-hover-color: #0987f2;
     --btn-text-color: #222;
     --project-card-bg: #fff;
     --text-color: #fff;
     --hover-color: #0987f2;
     --form-text-color: #fff;
     --footer-text-color: #bbb;
}

* {
     box-sizing: border-box;
}

body {
     background-color: var(--background-color);
     display: flex;
     justify-content: center;
     margin: 0 auto 60px;
}


#root {
     display: flex;
     flex-direction: column;
     gap: 60px;
     /* justify-content: center; */
     /* align-items: center; */
}

h1,
h2,
h3,
h4,
span,
p {
     color: var(--text-color);
     margin: 0;
     padding: 0;
}

h2,
h3,
h4,
span,
p,
li,
a,
button {
     font-family: 'Roboto Mono', monospace;
}

h1 {
     text-transform: uppercase;
}

h2,
h3,
span {
     font-size: 20px;
}

h1 {
     font-family: 'Rubik', sans-serif;
     font-size: 32px;
}

h2 {
     font-size: 2rem;
     text-transform: uppercase;
     margin-bottom: 2.4rem;
     font-weight: 800;
     color: grey;
}

h4 {
     font-size: 1rem;
}

p {
     font-size: 16px;
     font-weight: 300;
}

.sectionTitle {
     margin-bottom: 30px;
}

.hover {
     cursor: pointer;
}

.progressScrollBar {
     visibility: hidden;
     position: fixed;
     z-index: 2;
     top: 0;
     left: 0;
     right: 0;
     height: 8px;
     background: var(--actionbtn-hover-color);
     transform-origin: 0%;
}

::-webkit-scrollbar {
     width: 0.4rem;

}

/* ::-webkit-scrollbar-track {
     background: var(--footer-text-color);
} */
::-webkit-scrollbar-thumb {
     /* border-radius: 0.2rem; */
     background: var(--btn-color);
}


@media (width >=800px) {
     /* #root { */
     /* gap: 100px; */

     /* } */

     h1 {
          font-size: 40px;

     }

     /* h2, */
     h3,
     span {
          font-size: 24px;
     }

     h2 {
          font-size: 2rem;
     }

     p {
          font-size: 20px;
     }

     .sectionTitle {
          margin-bottom: 60px;
     }
}


@media (width >=1400px) {
     /* #root { */
     /* gap: 200px; */

     /* } */

     h1 {
          font-size: 48px;

     }

     .sectionTitle {
          margin-bottom: 75px;
     }
}

@media(width<=800px) {
     .progressScrollBar {
          visibility: visible;
     }
}